@media (hover: hover) {
    .button.button_white:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
        color: #000000;
    }


    .button.button_white.button_disabled:hover {
        box-shadow: none;
        color: #ee5454;
    }


    .button.button_red:hover {
        background-color: #ed3535;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    }

    .button.button_blue:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
        background-color: #007fe2;
    }

    .button.button_blue.button_disabled:hover {
        box-shadow: none;
    }
}

.button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    font-size: .85rem;
    outline: none;
    padding: .75rem 1.5rem;
}

.button.button_white {
    background-color: #fff;
    border: solid 1px #fff;
    color: #ee5454;

    &:active {
        color: rgba(0, 0, 0, 0.7);
    }
}

.button.button_white.button_disabled {
    background: #fff;
    cursor: auto;
    opacity: 0.3;

    &:active {
        color: #ee5454;
    }
}

.button.button_red {
    background-color: #ee5454;
    color: #fff;

    &:active {
        background-color: #ed3535;
        color: rgba(255, 255, 255, 0.7);
    }
}

.button.button_blue {
    background-color: #36a6fd;
    color: #fff;

    &:active {
        color: rgba(255, 255, 255, 0.7);
    }
}

.button.button_blue.button_disabled {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.45);
    cursor: auto;
}
