@charset "utf-8";

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: UbuntuItalic;
    src: url(../fonts/Ubuntu-MediumItalic.ttf);
}

html {
    font-size: 20px;
}

#hide,
#hide-small {
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
}

body {
    user-select: none;
}

.section-1 {
    align-items: center;
    background-color: #ee5454;
    display: flex;
    flex-direction: column;

    &__logo {
        background: url(../img/logo.svg) no-repeat;
        margin-bottom: 87px;
        margin-top: 37px;
        min-height: 45px;
        min-width: 117px;
    }

    &__form {
        color: #fff;
        font-family: Ubuntu, sans-serif;
        font-size: 1.8rem;
        margin-bottom: 2.25rem;
        text-align: center;
    }

    &__form-input {
        min-width: 220px;
        width: 220px;
        background: transparent;
        border: none;
        border-bottom: solid 2px #ff7571;
        color: #fff;

        &_mail {
            min-width: 350px;
            width: 350px;
        }

        &_tel {
            min-width: 323px;
            width: 323px;
        }
    }

    &__form-input:focus {
        outline: none;
    }

    &__form-input-prefix {
        color: #eeb0ae;
        font-family: Ubuntu, sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
    }

    &__form-contacts {
        display: inline-block;
    }

    &__info {
        padding: 40px 0 45px 0;
        text-align: center;
    }

    &__info-item {
        display: inline-block;
        margin: 15px 30px;
    }

    &__info-main {
        font-family: Arial, sans-serif;
        font-size: 1.65rem;
        font-weight: bold;
        color: #ffcece;
    }

    &__info-comment-bold {
        font-family: Arial, sans-serif;
        font-size: .75rem;
        font-weight: bold;
        color: #ffcece;
    }

    &__info-comment {
        font-family: Arial, sans-serif;
        font-size: .75rem;
        color: #ffcece;
    }
}

.section-2 {
    padding: 75px 0;
    text-align: center;

    &__title {
        color: #ee5454;
        font-family: Ubuntu, sans-serif;
        font-size: 2.8rem;
        margin-bottom: 50px;
    }

    &__sub-title {
        font-family: Ubuntu, sans-serif;
        font-size: 2.8rem;
    }

    &__info-item {
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin: 50px 20px 20px 20px;
    }

    &__info-comment-bold {
        font-weight: bold;
        margin-bottom: 40px;
    }
}

.section-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;

    &__title {
        color: #ee5454;
        font-family: Ubuntu, sans-serif;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 4rem;
        text-align: center;
    }

    &__list {
        counter-reset: li;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        margin: 0 auto 30px;
    }

    &__list-item:before {
        border: 1px solid #ee5454;
        border-radius: 50%;
        color: #ee5454;
        content: counter(li);
        counter-increment: li;
        font-size: .75rem;
        font-weight: bold;
        text-align: center;
        position: absolute;
        padding: .3rem .5rem;
    }

    &__list-item-title {
        font-family: Ubuntu, sans-serif;
        font-size: 1.25rem;
        margin-bottom: .5rem;
        margin-left: 2rem;
    }

    &__list-item-comment {
        font-size: .75rem;
        margin-left: 2rem;
    }
}

.section-5 {
    background-image: linear-gradient(to bottom, #e8eef6, #eefdff);
    padding: 100px 25px;
    text-align: center;

    &__title {
        font-family: Ubuntu, sans-serif;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 35px;
    }

    &__comment {
        margin-top: 25px;
    }

    &__info {
        display: flex;
        justify-content: center;
        margin: 4rem 0;
    }

    &__info-item {
        margin: 0 1rem;
    }

    &__info-item-title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__info-item-comment {
        font-size: .75rem;
    }
}

.section-7 {
    background-color: #3c3743;
    color: #fff;
    padding: 68px 0 88px 0;
    text-align: center;

    &__title {
        font-family: Ubuntu, sans-serif;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.18;
        margin-bottom: 50px;
    }

    &__form {
        margin-bottom: 55px;
    }

    &__form-input {
        background: transparent;
        border: none;
        border-bottom: solid 2px #36a6fd;
        color: #36a6fd;
        margin-right: 1rem;

        &_url {
            width: 300px;
        }

        &_name {
            width: 260px;
        }

        &_mail {
            width: 220px;
        }
    }

    &__form-input:focus {
        outline: none;
    }

    &__form-input-wrap {
        color: #9a9a9a;
        display: inline-block;
        font-family: Arial, sans-serif;
        line-height: 1.5rem;
        text-align: left;
    }
}
