@charset "utf-8";

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: UbuntuItalic;
    src: url(../fonts/Ubuntu-MediumItalic.ttf);
}

html {
    font-size: 20px;
}

body {
    background-color: lightgreen;
    margin: 0;
    user-select: none;
}
