@charset "utf-8";

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: UbuntuItalic;
    src: url(../fonts/Ubuntu-MediumItalic.ttf);
}

html {
    font-size: 20px;
}

#hide,
#hide-small {
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
}

body {
    user-select: none;
}

.section-1 {
    align-items: center;
    background-color: #ee5454;
    display: flex;
    flex-direction: column;

    &__logo {
        background: url(../img/logo.svg) no-repeat;
        margin-bottom: 4.5rem;
        margin-top: 2rem;
        min-height: 2rem;
        min-width: 6rem;
    }

    &__form {
        color: #fff;
        font-family: Ubuntu, sans-serif;
        font-size: 1.8rem;
        margin-bottom: 2.25rem;
        text-align: center;
    }

    &__form-input {
        min-width: 220px;
        width: 220px;
        background: transparent;
        border: none;
        border-bottom: solid 2px #ff7571;
        color: #fff;

        &_mail {
            min-width: 350px;
            width: 350px;
        }

        &_tel {
            min-width: 323px;
            width: 323px;
        }
    }

    &__form-input:focus {
        outline: none;
    }

    &__form-input-prefix {
        color: #eeb0ae;
        font-family: Ubuntu, sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
    }

    &__form-contacts {
        display: inline-block;
        margin-bottom: 2.5rem;
    }

    &__info {
        padding: 40px 0 45px 0;
        text-align: center;
    }

    &__info-item {
        display: inline-block;
        margin: 15px 30px;
    }

    &__info-main {
        font-family: Arial, sans-serif;
        font-size: 1.65rem;
        font-weight: bold;
        color: #ffcece;
    }

    &__info-comment-bold {
        font-family: Arial, sans-serif;
        font-size: .75rem;
        font-weight: bold;
        color: #ffcece;
    }

    &__info-comment {
        font-family: Arial, sans-serif;
        font-size: .75rem;
        color: #ffcece;
    }
}

.section-1__form.section-1__form_error {
    .section-1__form-input {
        border-bottom: solid 2px #fff8a3;
    }

    // применяем стили button_disabled
    .button.button_white {
        background: #fff;
        cursor: auto;
        opacity: 0.3;

        &:hover {
            box-shadow: none;
            color: #ee5454;
        }

        &:active {
            color: #ee5454;
        }
    }
}

.section-2 {
    padding: 75px 0;
    text-align: center;

    &__title {
        color: #ee5454;
        font-family: Ubuntu, sans-serif;
        font-size: 2.8rem;
        margin-bottom: 50px;
    }

    &__sub-title {
        font-family: Ubuntu, sans-serif;
        font-size: 2.8rem;
    }

    &__info-item {
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin: 50px 20px 20px 20px;
    }

    &__info-comment-bold {
        font-weight: bold;
        margin-bottom: 40px;
    }
}

.section-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;

    &__title {
        color: #ee5454;
        font-family: Ubuntu, sans-serif;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 4rem;
        text-align: center;
    }

    &__list {
        counter-reset: li;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        margin: 0 auto 30px;
    }

    &__list-item:before {
        border: 1px solid #ee5454;
        border-radius: 50%;
        color: #ee5454;
        content: counter(li);
        counter-increment: li;
        font-size: .75rem;
        font-weight: bold;
        text-align: center;
        position: absolute;
        padding: .3rem .5rem;
    }

    &__list-item-title {
        font-family: Ubuntu, sans-serif;
        font-size: 1.25rem;
        margin-bottom: .5rem;
        margin-left: 2rem;
    }

    &__list-item-comment {
        font-size: .75rem;
        margin-left: 2rem;
    }
}

.section-5 {
    background-image: linear-gradient(to bottom, #e8eef6, #eefdff);
    padding: 100px 25px;
    text-align: center;

    &__title {
        font-family: Ubuntu, sans-serif;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 35px;
    }

    &__comment {
        margin-top: 25px;
    }

    &__info {
        display: flex;
        justify-content: center;
        margin: 4rem 0;
    }

    &__info-item {
        margin: 0 1rem;
    }

    &__info-item-title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__info-item-comment {
        font-size: .75rem;
    }
}

.section-7 {
    background-color: #3c3743;
    color: #fff;
    padding: 68px 0 88px 0;
    text-align: center;

    &__title {
        font-family: Ubuntu, sans-serif;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.18;
    }

    &__form-input {
        background: transparent;
        border: none;
        border-bottom: solid 2px #36a6fd;
        color: #36a6fd;
        margin-right: 1rem;
        margin-top: 50px;


      &_url {
            width: 300px;
        }

        &_name {
            width: 260px;
        }

        &_mail {
            width: 220px;
        }
    }

    &__form-input:focus {
        outline: none;
    }

    &__form-input-wrap {
        color: #9a9a9a;
        display: inline-block;
        font-family: Arial, sans-serif;
        line-height: 2rem;
        text-align: left;
    }

    &__button-wrap {
        margin-top: 55px;
    }

    &__message {
        color: #9a9a9a;
        font-family: Arial, sans-serif;
        line-height: 2.5rem;
        visibility: hidden;
    }

    &__success-comment {
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 1.5rem;
        line-height: 3rem;
    }
}

.section-7__form.section-7__form_error {
    .section-7__form-input {
        border-bottom: solid 2px #ee5454;
        color: #ee5454;
    }

    .section-7__form-input-wrap {
        color: #ee5454;
    }

    .section-7__message {
        color: #ee5454;
        visibility: visible;
    }

    // применяем стили button_disabled
    .button.button_blue {
        background-color: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.45);
        cursor: auto;

    &:hover {
        box-shadow: none;
    }
  }
}

.section-8 {
    background-color: #ee5454;
    color: #fff;
    padding: 4rem 0 5rem 0;
    text-align: center;

    &__title {
        font-family: Ubuntu, sans-serif;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.18;
    }

    &__sub-title {
        font-family: Ubuntu, sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__tariffs {
        display: flex;
        justify-content: center;
    }

    &__tariffs-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 1.5rem;
    }

    &__tariffs-item-comment {
        line-height: 1.35;
        text-align: left;
    }

    &__tariffs-item-comment > ul {
        padding-inline-start: 0;
    }

    &__tariffs-item-comment > ul > li {
        margin: 1rem 0 1rem 0;
    }
}

.footer {
    background-color: #ee5454;
    color: #fff;
    font-size: .9rem;
    padding-bottom: 1.5rem;
    text-align: center;

    &__logo {
        background: url(../img/logo.svg) no-repeat;
        margin: 0 auto;
        min-height: 2rem;
        min-width: 6rem;
    }

    &__info {
        margin-top: 5rem;
    }

    &__info > span,
    &__info > a {
        color: #efd4d4;
        font-size: .6rem;
        margin: 0 1rem;
    }

    &__info-link:hover {
        color: #fff;
    }
}
